<h1>Editer perturbation</h1>

<%= render "form", disturbance: @disturbance %>

<br>

<div>
  <%= link_to "Voir cette perturbation", @disturbance %> |
  <%= link_to "Retour aux perturbations", disturbances_path %>
</div>
