<h1>Editing disturbance</h1>

<%= render "form", disturbance: @disturbance %>

<br>

<div>
  <%= link_to "Show this disturbance", @disturbance %> |
  <%= link_to "Back to disturbances", disturbances_path %>
</div>
