<div class="m-8">
  <h1 class="mb-4 text-4xl font-black">Perturbations</h1>
  <div id="disturbances" class="mb-4">
    <table class="min-w-full table-auto">
      <thead class="bg-gray-800 text-gray-300">
        <tr>
          <th>Id</th>
          <th>Gare</th>
          <th>Train</th>
          <th><span>Destination</span>/<span>Provenance</th>
          <th><span>Départ</span>/<span>Arrivée</span> prévu.e</th>
          <th><span>Départ</span>/<span>Arrivée</span> réel.le</th>
          <th>Voie</th>
          <th>Raison</th>
          <th>Information</th>
          <th>Enregistrée</th>
          <th colspan=1></th>
        </tr>
      </thead>
      <tbody>
        <%= render @disturbances %>
      </tbody>
    </table>
  </div>

  <%= paginate @disturbances %>

  <p>
    <%= link_to 'Export XLS', url_for(params.permit!.merge(format: :xls)) %>
    |
    Source :
    <%= link_to 'm.ter.sncf.com',
                'https://m.ter.sncf.com/grand-est/se-deplacer/prochains-departs/strasbourg-87212027',
                target: '_blank' %>

  </p>
</div>

<script type="text/javascript">
  setInterval(function() {
    window.location.reload();
  }, 5 * 60000); 
</script>
