<p style="color: green"><%= notice %></p>

<h1>Perturbations</h1>

<div id="disturbances">
  <% @disturbances.each do |disturbance| %>
    <%= render disturbance %>
  <% end %>
</div>

<%= paginate @disturbances %>

<h6>
  Source :
  <%= link_to 'm.ter.sncf.com', 
              'https://m.ter.sncf.com/grand-est/se-deplacer/prochains-departs/strasbourg-87212027',
              target: '_blank'
  %>
</h6>

<script type="text/javascript">    
  setInterval(function() {
    window.location.reload();
  }, 5 * 60000); 
</script>
