<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @disturbance %>

    <%= link_to 'Éditer cette disturbance', edit_disturbance_path(@disturbance), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Retour aux disturbances', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
