<footer class="footer fixed bottom-0 hero text-center font-bold mt-12">
  <ul class="list-unstyled">
    <li class="text-muted">
      Disturbances a été développée par 
      <%= link_to 'Studio Philnoug & Partners', 'https://www.philnoug.com', target: '_blank', class:'link' %>
    </li>
  </ul>
</footer>